<div class="row">

<div class="col-md-12 mx-auto mt-5">
    <h4 class="text-center" i18n="@@integrpagebloc1">Intégration des applications et API à votre système informatique (Dashboard) </h4>
    <ul class="list-group">
      <li class="list-group-item">Configurer la solution selon les bonnes pratiques de l’industrie TI.</li>
      <li class="list-group-item">Assurer les critères de qualité (disponibilité, fiabilité, performance, etc.)</li>
      <li class="list-group-item">Collectes des données et génération de rapports	</li>
      <li class="list-group-item">Exportation des audits et logs vers d’autres systèmes.</li>
    </ul>
  </div>
  <div class="col-md-12 mx-auto mt-5">
      <h4 class="text-center" i18n="@@integrpagebloc2">Intégration des solutions de l’authentification unique (SSO) </h4>
      <ul class="list-group">
        <li class="list-group-item">On vous aide à gérer les identités de vos utilisateurs en intégrant des solutions de gestion des identités.</li>
        <li class="list-group-item">Nous intégrons des applications gérant l’identité des utilisateurs tels Google, Facebook, etc.</li>
      </ul>
  </div>
</div>