<div class="container">
    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/images/aboutus.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!-- Card content -->
          <mdb-card-body cascade="true" class="text-center">

            <!--Title-->
            <mdb-card-title>

            </mdb-card-title>

            <mdb-card-text>
                  <p i18n="@@intgrpageintro">  
                      Nous offrons un service d’intégration des applications Web (Web services, API …) offrant une stratégie cohérente pour développer une infrastructure TI de qualité.
                      On vous propose les meilleures solutions du marché qui répondent à vos besoins et on vous aide à les intégrés au sein de votre système informatique.                      
                  </p>
                  <app-integration-blocs></app-integration-blocs>
            </mdb-card-text>        
          </mdb-card-body>

        </mdb-card>
      </div>
    </div>
  </div>

