<footer class="page-footer font-small special-color-dark pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">
<!-- Grid column -->
<div class="col-md-4 mb-md-0 mb-3">

    <!-- Links -->
    <h5 class="text-uppercase">Vision</h5>

    <ul class="list-unstyled">
      <li>
        <a href="#!"i18n="@@lienaboutus"></a>
      </li>
    </ul>

  </div>
  <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none pb-3">

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Services</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/services/development" i18n="@@liendev">Développment</a>
              </li>
              <li>
                <a href="/services/integration" i18n="@@lienintegr">Intégration</a>
              </li>
              <li>
                <a href="/services/conseil" i18n="@@lienconseil">Conseil</a>
              </li>
              <li>
                <a href="/services/service-gere" i18n="@@lienservicegere">Service géré</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Information</h5>

            <ul class="list-unstyled">
              <li>
                <a href="/profile" i18n="@@lienaboutus">About Us</a>
              </li>
              <li>
                <a href="/contact" i18n="@@liencontact">Contact Us</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <p i18n="@@titreCompany"> Les solutions Fit IT</p>
      </div>
      <!-- Copyright -->

    </footer>