<div class="container">
    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              
            <mdb-card-img src="assets/images/conseil-service-page.png"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!-- Card content -->
          <mdb-card-body cascade="true" class="text-center">
            <mdb-card-text>
                  <p class="lead" i18n="@@conseilpagelead">
                      Notre expertise permettra d’établir une proposition des meilleures options disponibles sur le marché afin de vous aider à atteindre vos objectifs spécifiques.
                  </p>
                  <p i18n="@@conseilpageintro">                        
                      Nous offrons un service de conseil qui vous fournira des solutions informatiques de qualité répondant à vos besoins et en respectant la qualité. Notre service est flexible et s'adapte à toutes les situations ; Nous pouvons donc vous offrir des solutions adaptées à votre type d’entreprise. Nous proposons également des approches et des stratégie cohérentes pour améliorer l’exercice de vos taches.
                  </p>        
            </mdb-card-text>        
          </mdb-card-body>

        </mdb-card>
      </div>
    </div>
  </div>

