
    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/images/aboutus.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!-- Card content -->
          <mdb-card-body cascade="true" class="text-center">

            <!--Title-->
            <mdb-card-title>
              <h4>
                <strong>My adventure</strong>
              </h4>
            </mdb-card-title>

            <h5 class="indigo-text">
              <strong>Photography</strong>
            </h5>

            <mdb-card-text>
                Les solutions Fit IT est reconnue par la créativité, l’innovation et  qualité. Nous offrons des véritables services dans le domaine de développement Web, d’intégration des applications Web, de service géré et du conseil. Notre expertise permettra d’établir une proposition des meilleures options disponibles sur le marché afin de vous aider à atteindre vos objectifs spécifiques. 
                Nous veillons sur l’apport des solutions adéquates qui répondent à vos besoins et qui respectent vos budgets. Nous proposons également des approches et des stratégie cohérentes pour améliorer l’exercice de vos taches.
                
            </mdb-card-text>           
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  <div class="row">
      <div class="col-md-12">
    <app-contact-form></app-contact-form>
  </div>
  </div>
  <div class="row mb-5">
    </div>