<div class="container">
    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              
            <mdb-card-img src="assets/images/devservice.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->

          <!-- Card content -->
          <mdb-card-body cascade="true" class="text-center">
            <mdb-card-text>
                  <p class="lead" i18n="@@conseilpagelead">
                      Occupez-vous de vos objectifs, on s’occupe du reste
                  </p>
                  <p i18n="@@conseilpageintro">                        
                      Nous vous aiderons dans vos tâches quotidiennes en vous offrons de support applicatif afin d’aligner les opérations TI avec vos objectifs.
                  </p>
                  <p>
                      Nous améliorons la valeur de vos application Web existante. Nous vous offrons un service de support applicatif dédié et de la maintenance pour vous aider à régler les lacunes techniques qui nuisent le bon déroulement de vos affaires. 
                      Nous offrons également un service de développement personnalisé répondant à vos besoins spécifiques pour aligner les opérations TI avec vos objectifs d’affaires.                      
                  </p>        
            </mdb-card-text>        
          </mdb-card-body>

        </mdb-card>
      </div>
    </div>
  </div>

