<div class="row">
    <!-- Custom content -->
<div class="col-md-6 mx-auto">
<h4 class="text-center">Technologies</h4>
<div class="list-group">
<a class="list-group-item list-group-item-action flex-column active align-items-start white-text">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">Angular</h5>
</div>
<p class="mb-1" i18n="@@devpageangular">DÉVELOPPER SUR TOUTES LES PLATEFORMES
    Découvrez un moyen de créer des applications avec Angular et de réutiliser votre code et vos capacités pour créer des applications pour toute cible de déploiement. Pour le Web, le Web mobile, le mobile natif et l'oridnateur.
    Obtenez la vitesse maximale possible sur la plate-forme Web aujourd'hui et allez plus loin, via Web Workers et le render du côté serveur.
</p>
</a>
<a class="list-group-item list-group-item-action flex-column align-items-start">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1">PHP</h5>
</div>
<p class="mb-1" i18n="@@devpagephp">PHP est un langage de script polyvalent populaire, particulièrement adapté au développement Web.
    Rapide, flexible et pragmatique, PHP alimente tout, de votre blog aux sites Web les plus populaires du monde.</p>
</a>
<a class="list-group-item list-group-item-action flex-column align-items-start">
<div class="d-flex w-100 justify-content-between">
<h5 class="mb-1" i18n="@@autretechtitle">Autres technologies</h5>
</div>
<p class="mb-1">Java, JSON, XML, Ruby, HTML5, CSS, SCSS...</p>
</a>
</div>
</div>
<!-- Custom content -->
</div>

<div class="row">
<!-- Basic Example -->
<div class="col-md-6 mx-auto mt-5">
  <h4 class="text-center" i18n="@@devpagefwintro">Nous utilisons les frameworks suivant</h4>
  <ul class="list-group">
    <li class="list-group-item">Laravel</li>
    <li class="list-group-item">Slim Framework</li>
  </ul>
</div>
<!-- Basic Example -->
 <!-- Basic Example -->
 <div class="col-md-6 mx-auto mt-5">
    <h4 class="text-center" i18n="@@devpagecmsintro">Nous utilisons les CMS suivant</h4>
    <ul class="list-group">
      <li class="list-group-item">Wordpress</li>
      <li class="list-group-item">Magento</li>
    </ul>
  </div>
  <!-- Basic Example -->                 
</div>