<div class="row">
  <!-- Basic Example -->
  <div class="col-md-12 mx-auto mb-5">
    <div class="jumbotron">
      <h2 class="h1 h1-responsive" i18n="@@aboutusHeader">About Us</h2>
      <p class="lead" i18n="@@aboutusLead">Les solutions Fit IT reconnue par la créativité, l’innovation et la qualité.</p>
      <hr class="my-2">
      <p i18n="@@aboutusContent">Nous offrons des véritables services dans le domaine de développement Web, d’intégration des applications Web, de service géré et du conseil. 
      </p>
      <a class="btn btn-primary btn-lg waves-light" role="button" mdbWavesEffect i18n="@@learnMore">En savoir plus</a>
    </div>
  </div>
  <!-- Basic Example -->
</div>