<div class="row">
  <!-- Basic Example -->
  <div class="col-md-12 mx-auto mb-5">
    <div class="jumbotron">
      <h2 class="h1 h1-responsive" i18n="@@aboutusHeader">About Us</h2>
      <p class="lead" i18n="@@aboutusLead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or
        information.</p>
      <hr class="my-2">
      <p i18n="@@aboutusContent">It uses utility classes for typography and spacing to space content out within the larger container.
      </p>
      <a class="btn btn-primary btn-lg waves-light" role="button" mdbWavesEffect i18n="@@learnMore">Learn more</a>
    </div>
  </div>
  <!-- Basic Example -->
</div>