<div class="container">
    <div class="row">
      <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="assets/images/devservice.jpg"></mdb-card-img>
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->
          <!-- Card content -->
          <mdb-card-body cascade="true" class="text-center">
            <mdb-card-text>
                <p class="lead" i18n="@@devpagelead">
                    Vous avez moins de 3 secondes pour garder un utilisateur dans votre site Web.
                  </p>
                  <p i18n="@@devpageintro">  
                      Nous offrons un service de développement Web qui rajoute de la valeur à votre entreprise en créant des solutions web de qualité qui répondent le mieux à vos besoins.
                      
                      Nous mettons à votre proposition notre expérience accumulée dans le domaine de développement Web ; nous nous basons sur l’apport de la valeur à votre entreprise.  Nous combinons les méthodologies de développement (Agile), le cycle de développement (SDLC) et les outils de gestion de projets pour délivrer des solutions Web de qualité.
                  </p>        
<app-list-groups></app-list-groups>
                    <div class="row mb-5">
                    </div>
            </mdb-card-text>        
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
