<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark special-color-dark" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">Angular Docs</a>
  </mdb-navbar-brand>
 
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item waves-light white-text d-flex flex-column justify-content-center" mdbWavesEffect>
          
          <a (click)="back()">
              <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
             Go Back
            </a>
    
          </li>
      <li class="nav-item">
          
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">
          <fa-icon [icon]="faHome"></fa-icon>
          Home
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/profile">About Us
        </a>
      </li>
      
           <!-- Dropdown -->
           <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" href="/services">
              Services
              <span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
              <a class="dropdown-item waves-light" mdbWavesEffect href="/services/development">Development</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="/services/integration">Integration</a>
              <a class="dropdown-item waves-light" mdbWavesEffect href="/services/conseil">Conseil</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
            </div>
          </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/contact">Contact Us</a>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->