<div class="container">


  <!-- Material textarea with colorful border -->
  <div class="row">
    <div class="col-md-12">
        <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
                    <!--Card image-->
                    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              
                        <mdb-card-img src="assets/images/contact-us.png"></mdb-card-img>
                        <a>
                          <div class="mask rgba-white-slight"></div>
                        </a>
                      </div>
                      <!--/Card image-->
         <h5 class="text-center my-4" i18n="@@contactmsgintro">Veuillez utilisez le formulaire suivant pour communiquer avec nous</h5> 
      <!-- Section: form gradient -->
      
        <div class="col-md-6 mx-auto">
        <formio src="https://aqueous-depths-66124.herokuapp.com/contact"></formio>
        </div>
          <!--<app-contact-form></app-contact-form> -->
      
      <!-- Section: form gradient -->
        </mdb-card>
    </div>
  </div>
  <!-- Material textarea with colorful border -->
</div>