<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <h2 class="text-center">Angular Bootstrap Textarea</h2>
    </div>
  </div>

  <!-- Material textarea with colorful border -->
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-center">Material textarea colorful on :focus state</h4>
      <!-- Section: form gradient -->
      <section class="form-gradient mb-5">

        <!--Form with header-->
        <mdb-card>

          <!--Header-->
          <div class="header peach-gradient">

            <div class="row d-flex justify-content-center">
              <h3 class="white-text mb-0 py-5 font-weight-bold">Contact Us</h3>
            </div>

          </div>
          <!--Header-->

          <mdb-card-body class="mx-4">

            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input type="text" id="form104" class="form-control" mdbInputDirective>
              <label for="form104">Your name</label>
            </div>

            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" id="form105" class="form-control" mdbInputDirective>
              <label for="form105">Your email</label>
            </div>

            <div class="md-form">
              <i class="fa fa-tag prefix grey-text"></i>
              <input type="text" id="form106" class="form-control" mdbInputDirective>
              <label for="form106">Subject</label>
            </div>

            <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea type="text" id="form107" class="md-textarea form-control" rows="5" mdbInputDirective></textarea>
              <label for="form107">Your message</label>
            </div>


            <!--Grid row-->
            <div class="row d-flex align-items-center mb-3 mt-4">

              <!--Grid column-->
              <div class="col-md-12">
                <div class="text-center">
                  <button type="button" mdbBtn color="grey" rounded="true" class="z-depth-1a">Send</button>
                </div>
              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->
          </mdb-card-body>

        </mdb-card>
        <!--/Form with header-->

      </section>
      <!-- Section: form gradient -->
    </div>
  </div>
  <!-- Material textarea with colorful border -->
  <hr class="my-5">
</div>